body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #3a241d;
	text-align: center;
}

.left-container {
	width: 15%;
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	display: block;
	padding: 10px;
}

.right-container {
	width: 15%;
	right: 0%;
	top: 0px;
	position: absolute;
	height: 100%;
	display: block;
	padding: 10px;
}

.plant-holder {
	position: relative;
	width: 100%;
	height: 20%;
}

.plant {
	position: absolute;
	max-height: 150%;
	z-index: 4;
}

/*https://codepen.io/Rotarepmi/pen/rjpNZY*/

.box {
	width: 100%;
	height: 100%;
}

.jar-walls {
	height: 80%;
	width: 60%;
	background: #d1e1df;
	border-radius: 3rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 3;
}

.jar-top {
	width: 50%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
	bottom: 80.5%;
	left: 25%;
	opacity: 0.7;
	z-index: 3;
}

.jar-bottom {
	width: 50%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 0%;
	left: 25%;
	opacity: 0.7;
}

.dirt {
	/*add dirt here!*/
}

.jar-glossy-long {
	width: 3%;
	height: 20%;
	border-radius: 2rem;
	background: #ddfbff;
	position: absolute;
	bottom: 20%;
	left: 5%;
}

.jar-glossy-short {
	width: 3%;
	height: 5%;
	border-radius: 2rem;
	background: #ddfbff;
	position: absolute;
	bottom: 45%;
	left: 5%;
}
